.vs/ConfirmFormatToJosn/FileContentIndex/38157617-9b4a-46fe-8e65-c6739439826d.vsidx
.vs/ConfirmFormatToJosn/FileContentIndex/read.lock
.vs/ConfirmFormatToJosn/v17/.suo
ConfirmFormatToJosn/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
ConfirmFormatToJosn/obj/Debug/net7.0/apphost.exe
ConfirmFormatToJosn/obj/Debug/net7.0/ConfirmFormatToJosn.AssemblyInfo.cs
ConfirmFormatToJosn/obj/Debug/net7.0/ConfirmFormatToJosn.AssemblyInfoInputs.cache
ConfirmFormatToJosn/obj/Debug/net7.0/ConfirmFormatToJosn.assets.cache
ConfirmFormatToJosn/obj/Debug/net7.0/ConfirmFormatToJosn.csproj.AssemblyReference.cache
ConfirmFormatToJosn/obj/Debug/net7.0/ConfirmFormatToJosn.csproj.BuildWithSkipAnalyzers
ConfirmFormatToJosn/obj/Debug/net7.0/ConfirmFormatToJosn.csproj.CopyComplete
ConfirmFormatToJosn/obj/Debug/net7.0/ConfirmFormatToJosn.csproj.CoreCompileInputs.cache
ConfirmFormatToJosn/obj/Debug/net7.0/ConfirmFormatToJosn.csproj.FileListAbsolute.txt
ConfirmFormatToJosn/obj/Debug/net7.0/ConfirmFormatToJosn.dll
ConfirmFormatToJosn/obj/Debug/net7.0/ConfirmFormatToJosn.GeneratedMSBuildEditorConfig.editorconfig
ConfirmFormatToJosn/obj/Debug/net7.0/ConfirmFormatToJosn.genruntimeconfig.cache
ConfirmFormatToJosn/obj/Debug/net7.0/ConfirmFormatToJosn.GlobalUsings.g.cs
ConfirmFormatToJosn/obj/Debug/net7.0/ConfirmFormatToJosn.pdb
ConfirmFormatToJosn/obj/Debug/net7.0/ref/ConfirmFormatToJosn.dll
ConfirmFormatToJosn/bin/Debug/net7.0/ConfirmFormatToJosn.deps.json
ConfirmFormatToJosn/bin/Debug/net7.0/ConfirmFormatToJosn.dll
ConfirmFormatToJosn/bin/Debug/net7.0/ConfirmFormatToJosn.exe
ConfirmFormatToJosn/bin/Debug/net7.0/ConfirmFormatToJosn.pdb
ConfirmFormatToJosn/bin/Debug/net7.0/ConfirmFormatToJosn.runtimeconfig.json
ConfirmFormatToJosn/bin/Debug/net7.0/Newtonsoft.Json.dll
.vs/ConfirmFormatToJosn/DesignTimeBuild/.dtbcache.v2
.vs/ConfirmFormatToJosn/v17/.futdcache.v2
.vs/ProjectEvaluation/confirmformattojosn.metadata.v5.2
.vs/ProjectEvaluation/confirmformattojosn.projects.v5.2
ConfirmFormatToJosn/obj/ConfirmFormatToJosn.csproj.nuget.dgspec.json
ConfirmFormatToJosn/obj/ConfirmFormatToJosn.csproj.nuget.g.props
ConfirmFormatToJosn/obj/ConfirmFormatToJosn.csproj.nuget.g.targets
ConfirmFormatToJosn/obj/project.assets.json
ConfirmFormatToJosn/obj/project.nuget.cache
ConfirmFormatToJosn/obj/Debug/net7.0/refint/ConfirmFormatToJosn.dll
